* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 100%;
    min-height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(240, 78%, 98%);
    background-image: url(https://gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-bottom.svg), url(https://gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-top.svg);
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat, no-repeat;
    /* background-size: 18rem, 15rem; */
}

h1 {
    text-align: center;
    padding: 3rem 0;
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(234, 14%, 49%)
}

h2 {
    font-size: 1em;
}
.head-basic{
    color:hsl(234, 14%, 49%);
}
h3 {
    display: flex;
    font-size: 3.9em;
    padding: 2rem 3rem;
    justify-content: center;
}

.dollar{
    font-size: 1.6rem;
    align-self: center;
}

.price{
    color: hsl(234, 14%, 49%)
} 
h4 {
    font-size: 3.9em;
    padding: 1rem 3rem;
    display: none;
}

p {
    font-size: 1rem;
}

.selcetors {
    display: flex;
    color: hsl(234, 14%, 24%);
    justify-content: center;
    align-items: center;
}

.toggle {
    margin: 0 1.5rem;
    padding: 0.1rem;
    background-color: hsl(237, 63%, 64%);
    width: 3rem;
    height: 1.5rem;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.toggle-ball {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: white;
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 3rem auto;
}

.card-basic,
.card-professional,
.card-master {
    padding: 1.3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}

.card-professional {
    padding: 3rem 1.3rem;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
}

.card-professional p,
.card-basic p,
.card-master p {
    padding: 1rem 0;
}

.card-basic p,
.card-master p {
    color: hsl(233, 13%, 49%);
}


.card-basic {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.card-master {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

.cards hr {
    width: 80%;
    margin: auto;
    opacity: 0.2;
}

button {
    width: 85%;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.8rem;
    margin: 1.5rem auto 0.5rem auto;
    color: white;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    border: 1px solid hsl(237, 63%, 64%);
    text-transform: uppercase;
}

.card-professional button {
    color: hsl(237, 63%, 64%);
    background: white;
}

.card-professional button:hover {
    color: white;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;
}

button:hover {
    color: hsl(237, 63%, 64%);
    background: transparent;
    cursor: pointer;
    border: 1px solid hsl(233, 13%, 49%);
}


@media only screen and (max-width: 760px) {
    .cards {
        /* display: flex; */
        flex-direction: column;
    }

    .card-basic, .card-professional, .card-master {
        margin: 0.5rem;
        border-radius: 10px;
        width: 100%;
    }
}